body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container {
    position: relative;
    display: inline-block;
}

#random-image {
    width: 1000px; /* Adjust as needed */
    height: auto;
    transition: opacity 1s ease;
    opacity: 1;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Hide the image initially */
#random-image:not([src=""]) {
    display: block;
}

#random-image[src=""] {
    display: none;
}
